.contact {
    padding: 36px 32px;
}

.contact .findmelinks {
    /* width: 312px */
    width: 400px;
}

.contact .findmelinks text {
    color: #D1D5DB;
    font-size: 16px;
}

.contact .info-text {
    color:  #F9FAFB;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.72px;
    padding: 0 8px;
}

@media (max-width: 768px) {
    .contact .info-text {
        font-size: 20px;
    }
}

.contact .info img {
    vertical-align: center;
    width: 18px;
}

/* Light mode */
.isLightMode .contact {
    background-color: #fff !important;
}

.isLightMode .contact .info-text {
    color: #111827;
}

.isLightMode .contact .info img {
    filter: brightness(50%);
}

.isLightMode .contact .findmelinks .text {
    color: #4B5563;
}

.isLightMode .contact img {
    filter: brightness(40%) !important;
}