/*-------------------------------------------------------
#        General 
 ----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Proxima Nova !important;
    color: #fff;
}

.mt-space-top {
    margin-top: 48px;
}

.padding48 {
    padding: 48px;
}


section {
    width: calc(100% - 160px);
    margin: 0 auto;
    padding: 0px 32px;
}

section .section-header , section .section-paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

section .section-header .section-title {
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--gray-dark-200, #374151);
    width: -moz-fit-content;
    width: fit-content;
}


section .section-paragraph .paragraph {
    width: auto;
    align-self: stretch;
    color: var(--gray-dark-600, #D1D5DB);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

header {
    background: var(--gray-dark-default, #030712);
}
