.work {
    padding: 96px 32px;
}

.work .work-content, .work .work-img {
    padding: 48px;
}

.work .work-img {
    background:  #374151;
}

.work .work-content {
    background-color: #1f2937;
}


.work .work-img img {
    height: auto;
    width: 100%;
}

.work .work-content div p {
    color: #D1D5DB;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.work .work-content .tools {
    display: flex;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}

.work .work-content .tool {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 20px; 
    border-radius: 12px; 
    background: #374151; 
}

.work .left-item {
    border-radius: 12px 0px 0px 12px;
}

.work .right-item {
    border-radius: 0px 12px 12px 0px;
}

.work .work-content h5 {
    color:  #F9FAFB;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

/* Light Mode configuration */
.isLightMode .work,
.isLightMode .work .work-img, 
.isLightMode .work .work-content{
    background: #fff !important;
}

.isLightMode .work h5 {
    color: #111827;
}

.isLightMode .work .work-content p {
    color: #4B5563;
}

.isLightMode .work .work-content .tool {
    background-color: #E5E7EB;
    color: #4B5563;
}