.about-me {
    padding: 20px 32px;
    padding-bottom: 60px;
}

.about-me .about-profile {
    position: relative;
    z-index: 999;
    height: fit-content;
}

.about-me .about-profile::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 110%;
    z-index: -1;
    top: 30px;
    right: -15px !important;
    background:  #374151 !important;
}

@media (max-width: 770px ) {
    .about-me .about-profile::before {
        right: 0px;
        top: 20px;
    }
}

.about-me .about-profile  img{
    width: auto;
    max-height: 500px;
    border: 8px solid #111827;
}

.about-me h1 {
    color:  #F9FAFB;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 120% */
    letter-spacing: -0.6px;
    margin-bottom: 24px;
}

.about-me p {
    margin-bottom: 16px;
    align-self: stretch;
    color: var(--gray-dark-600, #D1D5DB);
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    color: var(--gray-dark-600, #D1D5DB);
    font-size: 16px;
}

.mb-16 {
    margin-bottom: 16px !important;
} 

.about-me .skill {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: var(--gray-dark-600, #D1D5DB);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.about-me .skill .point {
    width: 4px;
    height: 4px;
    background: #fff;
    margin-right: 10px;
    border-radius: 50%;
}

/* Light mode configuration */

.isLightMode .about-me {
    background-color: #fff !important;
}

.isLightMode .about-me h1 {
    color: #111827;
}

.isLightMode .about-me p {
    color: #4B5563;
}

.isLightMode .about-me .skill {
    color: #4B5563;
}